#logo{
    border-radius: 30px;
    margin-left: 200px;
}
#down{
    border-radius: 20px 20px 0px 20px;
}
#Text{
    margin-left: 12%;
}
#Text a{
    color: black;
    
}
.collapse{
    margin: 1%;
}
#c{
    display: flex;
    flex-direction: row;
    padding: 50px;
}
#lc{
    width: 50%;
}
#rc{
    width: 50%;
} 
 .Hello{
    padding-left: 10%;
 }
 .Hii{
    padding-right: 10%;
 }
 .A{
    padding-left: 10%;
 }
 .B{
    padding-left: 5%;
 }
#head{
    font-size: 50px;
    font-weight: bold;

}
.section4 {
    background-color: rgb(37, 30, 130);
}
.earn {
    padding-left: 10%;
    padding-right: 10%;
}
.earn h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    line-height: 75px;
}
.earn p {
    color: white;
    font-size: 30px;
}
.startearning {
    font-size: 30px;
    font-weight: 700;
    border-radius:25px ;
}
.rapido {
    text-decoration: underline gold;
}
.section5 {
    background-color:rgb(255, 255, 255);
}
.footer {
    background: black;
    color: white;
    padding: 48px;
    padding-left: 130px;
}